#FTABB:
browser = firefox:68
browser.headlessMode = false
screenshots.path = /evidencias/imagens/
painel.ativar_gravacao = true
painel.servico = Abrir o Sistema
painel.sigla = SOL
datapools.path=datapools
datapool.formato = yml
framework.web.finder.max_tentativas = 20
framework.web.finder.tempo_entre_tentativas = 5000
browser.timeouts.pageload = 5000

# URLs de teste SOL 3.0 Segundo documentação FTABB:
plataforma.v3.homologa.link=https://plataforma.hm.bb.com.br/gaw/v3/

# FTABB - Configurações de proxy:
#browser.firefox.preferences = network.proxy.type=2; \
#network.proxy.autoconfig_url=http://170.66.49.180/proxy.pac; \
#accept_untrusted_certs=true; \
#network.proxy.no_proxies_on= localhost,127.0.0.1

# Configurações conforme documentação do FTABB(http://ftabb.intranet.bb.com.br/#/framework-canal/componentes-canal/componentes-ftabb-gaw-web)
plataforma.ambiente=homologa
plataforma.versao=v3
plataforma.canal=gaw

# Publicar no qTeste:
qteste.publicar=true
qteste.componente=sol-deferimento-cpf-cnpj-transferencia-estatico-testesautomatizados
qteste.componente.versao=2022.0.1
qteste.tipo.historia=genti
qteste.historiaId=513480
qteste.entregaId=447954